<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="UTF-8" />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="alternate" hreflang="ja" href="<%= hrefLangJa %>" />
    <link rel="alternate" hreflang="en" href="<%= hrefLangEn %>" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <p>Github Pagesのテストです。</p>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
